# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Environment variables
.env

# Python virtual environments
venv/
cat_dog/

# Pages files
*.pages 